.maincontainer{
    display: flex;
    width: 100%;
    padding: 20px;
}

.keyname{
    display: flex;
   justify-content: space-between;
   width: 100%;
   color: rgb(73, 223, 223);
  
}
.linkname{
    text-decoration: none;
    justify-content: space-between;
    background-color: aqua;
    color:black ;
    padding: 10px;
    cursor: pointer;
}